<h1>Create a new scorecard</h1>

<%= form_with model: @scorecard do |form| %>
  <%=
    render(
      FormInputComponent.new(
        form: form,
        model: @scorecard,
        attribute: :name,
        help: 'What do you want to call this scorecard?',
      ),
    )
  %>
  <div class="form-group">
    <%= form.button "Create", class: 'btn btn-primary' %>
  </div>
<% end %>
